*{
    font-family: sans-serif;
    background-image: #ddd;
}

h1 {
    text-align: center;
}

table {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    text-align: center;
}

tr {
    text-align: right;
}

tr:hover {
    background-color: yellow;
}

tr:last-child {
    background-color: skyblue;
}

th {
    font: bold;
    background-color: skyblue;
}
.bookTitle {
    width: 300px;
    line-height: 1.5em;
}

.Author {
    width: 200px;
    line-height: 1.5em;
}

#button1 {
    display: inline-block;
    height: 35px;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    text-align: center;
    color: #000000;
    position: relative;
    cursor: pointer;
    background: #ddd;
    border: none;
    transition: 0.3s;
    font-size: 12pt;
}

#button1:hover {
    background-color: rgb(76, 92, 236);
    color: white;
}

#gTotal {
    background-color: silver;
    text-align: right;
    font-size: 18pt;
    width: 150px;
    float: right;
}

.unit{
    text-align: right;
    width: 100px;
    font-size: 12pt;
}

.Quantity{
    text-align: right;
    width: 100px;
    font-size: 12pt;
}

.total {
    background-color: silver;
    text-align: right;
    width: 70px;
    align-content: right;
    font-size: 14pt;
}

option {
    font-size: 12pt;
}